@{
    ViewBag.Title = "Calendar";
    ViewBag.SubTitle = "";
}


<script src="~/AdminLTE/plugins/jquery/js/jQuery-2.1.4.min.js"></script>

<link href="~/css/monthly.css" rel="stylesheet" />
<script src="~/Scripts/monthly.js"></script>
<script>
                
    $(document).ready(function () {
        var PTM = [];
        var HW = [];
        var Pro=[];
        
        $.ajax({
            type: "POST",
            url: "/Parent_Dashboard/CalendarNotification",
            success: function (data) {
                var ptm = data.PTMlist;
                var pro = data.PROlist;

                var events = [];
                debugger;

                for (i = 0; i < ptm.length; i++) {
                    events.push({
                        "id": ptm[i].Id,
                        "name": ptm[i].Name,
                        "startdate": ptm[i].StartDate,
                        "enddate": ptm[i].EndDate,
                        "starttime": ptm[i].starttime,
                        "endtime": ptm[i].endtime,
                        "color": ptm[i].Color,
                        "url": ""

                    });
                }


                for (i = 0; i < pro.length; i++) {
                    var s = ptm[i].startdate;
                    events.push({
                        "id": pro[i].Id,
                        "name": pro[i].Name,
                        "startdate": pro[i].StartDate,
                        "enddate": pro[i].EndDate,
                        "starttime": pro[i].starttime,
                        "endtime": pro[i].endtime,
                        "color": pro[i].Color,
                        "url": ""

                    });
                }

                //        {
                //        title: ptm[i].Name,
                //        start: ptm[i].StartDate,
                //        end: ptm[i].EndDate
                //}
                

                

                //for (i = 0; i < hw.length; i++) {
                //    events.push({
                //        title: hw[i].Name,
                //        start: hw[i].StartDate,
                //        end: hw[i].EndDate
                //    });

                //}

                //for (i = 0; i < ptm.length; i++) {
                //    events.push({
                //        title: pro[i].Name,
                //        start: pro[i].StartDate,
                //        end: pro[i].EndDate
                //    });

                //}

                var evettnt = { "monthly": events };

                $('#mycalendar').monthly({
                    mode: 'event',
                    dataType: 'json',
                    events: evettnt
                });

                //$.each(data, function (i, item) {                                     
                //    var event = {
                //        "monthly": [{
                //            "id":item.Id,
                //            "name": item.Name,
                //            "startdate": "2018-1-8",
                //            "enddate": item.Date,
                //            "starttime": "12:00",
                //            "endtime": "2:00",
                //            "color": item.Color,
                //            "url": ""
                //        }]
                //    }
                   
                //});
                //$('#mycalendar').monthly({
                //    mode: 'event',
                //    dataType: 'json',
                //    events: event
                //});
            }
        });
   
        //var r = doc.message;
        //for (i = 0; i < r.length; i++) {
        //    events.push({
        //        title: r[i].Title,
        //        start: r[i].StartDate,
        //        end: r[i].EndDate
        //    });

        //}



        //var event={ "monthly": [
        //      {
        //          "id": 1,
        //          "name": "Project 1",
        //          "startdate": "2017-9-15",
        //          "enddate": "2018-1-2",
        //          "starttime": "12:00",
        //          "endtime": "2:00",
        //          "color": "#FFB128",
        //          "url": ""
        //      },
        //      {
        //          "id": 2,
        //          "name": "Parent Teacher Meeting",
        //          "startdate": "2017-9-20",
        //          "enddate": "",
        //          "starttime": "12:00",
        //          "endtime": "2:00",
        //          "color": "#2874A6",
        //          "url": ""
        //      },
        //      {
        //          "id": 3,
        //          "name": "Home Work Diary",
        //          "startdate": "2017-9-22",
        //          "enddate": "2017-9-25",
        //          "starttime": "12:00",
        //          "endtime": "2:00",
        //          "color": "#633974",
        //          "url": ""
        //      },
        //      {
        //          "id": 4,
        //          "name": "Lesson Plan 1",
        //          "startdate": "2017-9-13",
        //          "enddate": "",
        //          "starttime": "12:00",
        //          "endtime": "2:00",
        //          "color": "#2ECC71",
        //          "url": ""
        //      },
        //      {
        //          "id": 5,
        //          "name": "Lesson Plan 2",
        //          "startdate": "2017-9-16",
        //          "enddate": "",
        //          "starttime": "12:00",
        //          "endtime": "2:00",
        //          "color": "#2ECC71 ",
        //          "url": ""
        //      },
        //      {
        //          "id": 6,
        //          "name": "Lesson Plan 3",
        //          "startdate": "2017-9-22",
        //          "enddate": "",
        //          "starttime": "12:00",
        //          "endtime": "2:00",
        //          "color": "#2ECC71  ",
        //          "url": ""
        //      },
              
        //]
        //}
     

    });
</script>

<div class="monthly" id="mycalendar" style="margin-top:10px"></div>
