<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DEA | Dynamic Educational Assistant</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/AdminLTE/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/morris/css/morris.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/jvectormap/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    @*<link href="~/AdminLTE/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />*@
    @*<link href="~/AdminLTE/plugins/daterangepicker/css/daterangepicker-bs3.css" rel="stylesheet" />*@
    <link href="~/AdminLTE/plugins/bootstrap-wysihtml5/css/bootstrap3-wysihtml5.css" rel="stylesheet" />
    <link href="~/AdminLTE/plugins/ionicons/css/ionicons.css" rel="stylesheet" />
    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>
    <link href="~/AdminLTE/dist/css/admin-lte.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/Scripts/sweetalert2.js"></script>
    <link href="~/AdminLTE/dist/css/skins/_all-skins.css" rel="stylesheet" />
    <link href="~/AdminLTE/bootstrap-treeview/src/css/bootstrap-treeview.css" rel="stylesheet" />
    <link href="~/AdminLTE/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/EeNiArTWork.css" rel="stylesheet" />

</head>
<body>
    @*<div class="hold-transition skin-blue sidebar-mini sidebar-collapse"style="height:100vh;">
        <div class="wrapper bg-red-gradient">
            <header class="main-header">

              @Html.Partial("_LoginPartial")

            </header>
        </div>
    </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dynamic Education Assistance</p>
        </footer>
    </div>
    <script src="~/AdminLTE/bootstrap/js/bootstrap.js"></script>
    <script src="~/AdminLTE/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>
    <script src="~/AdminLTE/sea-custom.js"></script>
    <script src="~/AdminLTE/plugins/jquery-ui/js/jquery-ui.js"></script>
    <script src="~/AdminLTE/plugins/bootstrap-wysihtml5/js/bootstrap3-wysihtml5.all.js"></script>
    <script src="~/AdminLTE/plugins/sparkline/js/jquery.sparkline.js"></script>
    <script src="~/AdminLTE/plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/AdminLTE/plugins/daterangepicker/js/daterangepicker.js"></script>
    <script src="~/AdminLTE/plugins/daterangepicker/js/moment.js"></script>
    <script src="~/AdminLTE/plugins/knob/js/jquery.knob.js"></script>
    <script src="~/AdminLTE/plugins/raphael/js/raphael-min.js"></script>
    <script src="~/AdminLTE/plugins/morris/js/morris.js"></script>
    @*<script src="~/AdminLTE/plugins/datepicker/js/bootstrap-datepicker.js"></script>*@
    @*<script src="~/AdminLTE/plugins/jquery/js/jQuery-2.1.4.min.js"></script>*@
    @*<script src="~/AdminLTE/plugins/jquery-ui/js/jquery-ui.js"></script>*@
    @*<script src="~/AdminLTE/bootstrap/js/bootstrap.js"></script>*@
    @*<script src="~/AdminLTE/dist/js/app.js"></script>*@
    <script src="~/AdminLTE/plugins/slimscroll/js/jquery.slimscroll.js"></script>
    <script src="~/AdminLTE/plugins/fastclick/js/fastclick.js"></script>
    <script src="~/AdminLTE/plugins/jquery-validate/js/jquery.validate.js"></script>
    <script src="~/AdminLTE/plugins/jquery-validate/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/AdminLTE/dist/js/app.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>